node_modules/
pic/
img/
doc/
/public/img/cart
/public/img/detail
/public/img/header01
/public/img/header02
/public/img/index
/public/img/product
/public/img/store
/public/img/yinyueren

*.jpg
*.png
/doc
