section div.my-container {
  min-width: 1349px;
}

section div.my-container div:first-child {
  text-align: center;
}

section div.my-container div:nth-child(2) ul {
  padding: 1.2rem 0.8rem;
  margin: 0 auto;
  width: 965px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section div.my-container div:nth-child(2) ul li {
  border-right: 1px solid gray;
  padding-right: 4.5rem;
  margin-right: 4.5rem;
}

section div.my-container div:nth-child(2) ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 48px;
}

section div.my-container div:nth-child(2) ul li:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

section div.my-container div.my-top {
  width: 1100px;
  margin: 4rem auto 0;
}

section div.my-container div.my-top a:nth-child(2) {
  float: right;
}

section div.my-container div.my-top img {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

section div.my-container div.my-top img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

section div.my-container div.my-bianji, section div.my-container div.my-remen {
  width: 1100px;
  margin: 5rem auto;
}

section div.my-container div.my-bianji h4, section div.my-container div.my-remen h4 {
  font-weight: bold;
}

section div.my-container div.my-bianji ul.my-ul, section div.my-container div.my-remen ul.my-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

section div.my-container div.my-bianji ul.my-ul li, section div.my-container div.my-remen ul.my-ul li {
  width: 263px;
}

section div.my-container div.my-bianji ul.my-ul li p > a, section div.my-container div.my-remen ul.my-ul li p > a {
  display: block;
  margin-top: 0.4rem;
  height: 41px;
  font-size: 0.8rem;
  color: gray;
}

section div.my-container div.my-bianji ul.my-ul li p, section div.my-container div.my-remen ul.my-ul li p {
  margin: 0;
}

section div.my-container div.my-bianji ul.my-ul li p span, section div.my-container div.my-remen ul.my-ul li p span {
  color: red;
}

section div.my-container div.my-bianji ul.my-ul li img, section div.my-container div.my-remen ul.my-ul li img {
  background: #f5f8f8;
  width: 263px;
  height: 263px;
}

section div.my-container div.my-bianji ul:nth-child(2), section div.my-container div.my-remen ul:nth-child(2) {
  margin-top: 1rem;
}

section div.my-container div.my-guodu {
  width: 1100px;
  margin: 1rem auto;
  padding: 1rem 4rem;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section div.my-container div.my-guodu div {
  text-align: left;
}

section div.my-container div.my-guodu h4 {
  font-weight: bold;
  font-size: 1.9rem;
  font-family: my-font1;
}

section div.my-container div.my-guodu h4 i {
  font-size: 35px;
}

section div.my-container div.my-guodu h6 {
  font-size: 1.5rem;
  font-weight: bold;
}

section div.my-container div.my-guodu p {
  color: gray;
}

section div.my-container div.my-guodu div.img-list {
  position: relative;
}

section div.my-container div.my-guodu div.img-list img {
  position: absolute;
  left: -133px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section div.my-container div.my-guodu div.img-list img:first-child {
  left: -199px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

section div.my-container div.my-guodu div.img-list img:first-child:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section div.my-container div.my-guodu div.img-list img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section div.my-container div.my-guodu div.img-list i.circle {
  position: absolute;
  left: -13px;
  top: -75px;
  background: url("../img/store/pointlist.png") no-repeat;
  background-position: 0 37%;
  width: 200px;
  height: 200px;
}

section div.my-container div.my-remen {
  width: 1100px;
  margin: 3rem auto;
}

section div.my-container div.my-remen h4 {
  font-weight: bold;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section .my-bg1 {
  background-color: #BEFEFE;
}

aside {
  position: fixed;
  top: 25%;
  left: 93%;
  z-index: 1;
  display: none;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul li {
  width: 60px;
  text-align: center;
  height: 60px;
  padding: 1.1rem 0.6rem;
  color: gray;
  font-size: 0.7rem;
  background: wheat;
  cursor: pointer;
}

aside ul li:first-child {
  cursor: auto;
}

aside ul li:nth-child(2) {
  padding: 1.1rem 0.3rem;
  cursor: auto;
}

aside ul li:nth-child(3) i {
  position: relative;
}

aside ul li:nth-child(3) i span {
  position: absolute;
  top: -6px;
  left: 11px;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 12px;
  background: red;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=store.css.map */