  <section class="list">
    <div id="my-container">
      <!--开始-->
      <div>
        <strong><a href="./store.html" class="text-dark">首页</a></strong>
        <i class="icon iconfont icon-right"></i>
        <em class="msg">数码影音</em>
      </div>
      <hr class="bg-dark">
      <div class="my-first">
        <b>品牌:</b>
        <ul>
          <li><a href="">铁三角</a></li>
          <li><a href="">魔声</a></li>
          <li><a href="">深海赛尔</a></li>
          <li><a href="">漫步者（EDIFIER）</a></li>
          <li><a href="">网易云音乐</a></li>
          <li><a href="">先锋</a></li>
          <li><a href="">网易</a></li>
          <li><a href="">魅族</a></li>
          <li><a href="">JBL</a></li>
          <li><a href="">AKG</a></li>
          <li><a href="">Beat</a></li>
          <li><a href="">猫王</a></li>
          <li><a href="">B&O</a></li>
          <li><a href="">QCY</a></li>
          <li><a href="">1MORE/万魔</a></li>
          <li><a href="">BOSE</a></li>
          <li><a href="">杰伟史（JVC）</a></li>
          <li><a href="">骷髅头（Skullcandy）</a></li>
          <li class="my-hidden">
            <ul class="my-ul">
              <li><a href="#">Apple</a></li>
              <li><a href="#">网易制造</a></li>
              <li><a href="#">Apple</a></li>
            </ul>
          </li>
          <li class="my-hidden">
            <ul class="my-ul">
              <li><a href="#">第一位</a></li>
              <li><a href="#">唱吧</a></li>
              <li><a href="#">爱国者（aigo）</a></li>
              <li><a href="#">先锋（Pioneer）</a></li>
              <li><a href="#">熊猫（PANDA）</a></li>
              <li><a href="#">击音</a></li>
              <li><a href="#">索尼（SONY）</a></li>
              <li><a href="#">Happyplugs</a></li>
              <li><a href="#">硕美科</a></li>
              <li><a href="#">联想</a></li>
              <li><a href="#">Happy Plugs</a></li>
              <li><a href="#">飞利浦</a></li>
              <li><a href="#">IN-VOICE</a></li>
              <li><a href="#">并特立</a></li>
              <li><a href="#">萌奇</a></li>
            </ul>
          </li>
        </ul>
        <b class="my-more">更多 ∨</b>
      </div>
      <div class="my-second">
        <b>分类:</b>
        <ul>
          <li><a href="#">耳麦耳机</a></li>
          <li><a href="#">播放器</a></li>
          <li><a href="#">音响音响</a></li>
          <li><a href="#">数码配件</a></li>
        </ul>
      </div>
      <div class="my-second">
        <b>价格:</b>
        <ul data-number="number">
          <li><a href="#">0~1666</a></li>
          <li><a href="#">1667~3332</a></li>
          <li><a href="#">3333~4998</a></li>
          <li>
            <div class="my-choice">
              <b>自定义</b>
              <input type="text" placeholder="￥">
              <b>——</b>
              <input type="text" placeholder="￥">
              <button type="button" data-search="random" disabled>确定</button>
            </div>
          </li>
        </ul>
      </div>
      <h6 class="mt-4 text-dark my-list">综合
        <b>·&nbsp; 价格从低到高</b>
        <b>·&nbsp; 价格从高到低</b>
      </h6>
      <div class="my-remen">
        <ul class="my-ul">
          <li>
            <a href="">
              <img src="img/store/pro-1.jpg" alt="">
            </a>
            <p>
              <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-2.jpg" alt="">
            </a>
            <p>
              <a href="">网易云音乐手机壳 吉祥物-团子款（多多西西）</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-3.jpg" alt="">
            </a>
            <p>
              <a href="">网易云音乐毛绒公仔多多西西</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-4.jpg" alt="">
            </a>
            <p>
              <a href="">Beats EP 头戴式耳机 线控带麦运动耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-5.jpg" alt="">
            </a>
            <p>
              <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-1.jpg" alt="">
            </a>
            <p>
              <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-2.jpg" alt="">
            </a>
            <p>
              <a href="">网易云音乐手机壳 吉祥物-团子款（多多西西）</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-3.jpg" alt="">
            </a>
            <p>
              <a href="">网易云音乐毛绒公仔多多西西</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-4.jpg" alt="">
            </a>
            <p>
              <a href="">Beats EP 头戴式耳机 线控带麦运动耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-5.jpg" alt="">
            </a>
            <p>
              <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-1.jpg" alt="">
            </a>
            <p>
              <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-2.jpg" alt="">
            </a>
            <p>
              <a href="">网易云音乐手机壳 吉祥物-团子款（多多西西）</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-3.jpg" alt="">
            </a>
            <p>
              <a href="">网易云音乐毛绒公仔多多西西</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-4.jpg" alt="">
            </a>
            <p>
              <a href="">Beats EP 头戴式耳机 线控带麦运动耳机</a>
              <span>￥128</span>
            </p>
          </li>
          <li>
            <a href="">
              <img src="img/store/pro-5.jpg" alt="">
            </a>
            <p>
              <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
              <span>￥128</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <nav class="my-nav">
    <ul>
      <li class="prev">上一页</li>
      <li class="active">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li class="next">下一页</li>
    </ul>
  </nav>


  <aside>
    <ul>
      <li>100%正品</li>
      <li>七天无理由退货</li>
      <li>
        <i class="icon iconfont icon-shangcheng"><span>0</span></i><br>
        购物车
      </li>
      <li>
        <i class="icon iconfont icon-kefu-copy"></i><br>
        客服
      </li>
      <li class="bg-dark" data-hide="hide">
        <i class="icon iconfont icon-arrow-up"></i><br>
        TOP
      </li>
    </ul>
  </aside>