  <header class="musician">
    <div class="my-top">
      <div class="my-left">
        <a href="#">
          <img src="/index/img//wangyi.jpg" style="margin-top:0;" alt="" class="my-img0">
          <span class="my-title">网易音乐人</span>
        </a>  
      </div>
      <ul>
        <li>首页</li>
        <li>石头计划</li>
        <li>个人中心</li>
        <li>常见问题</li>
      </ul>
      <div></div>
    </div>
  </header>

  <section class="main-box musician">
    <div class="my-bg1">
     
    </div>
    <div class="my-bg2">
     
    </div>
    <div class="my-bg3">
      
    </div>
    <div class="my-bg4">
     
    </div>
    <div class="my-bg5">
      
    </div>
    <div class="my-bg6">
      
    </div>
  </section>