<header class="store">
  <div class="my-container">
    <!--开始-->
    <div>
      <div>
        <span class="float-left" style="margin-top:3px;"><a href="/"><img src="/index/img/wangyi.jpg" alt="HTML5" class="my-img"></a></span>
        <h5>网易云音乐<b class="text-danger">·</b>商城</h5>
      </div>
      <div>
        <div>
          <i class="icon iconfont icon-sousuo"></i>
          <input type="text" placeholder="氧气耳机" data-search="find">
        </div>
        <span>
          <a href="/store/cart"><i class="icon iconfont icon-shangcheng" data-cart="cart"><span>0</span></i></a>
        </span>
        <div class="my-icon">
          <div style="border:none;" class="my-hover border-0 my-login login-before">
            <b style="line-height:normal;"><a href="#">登录</a></b>
          </div>
          <ul class="my-response login-before">
            <li><a href="../order.html" target="_self">
                <i class="icon iconfont icon-tel"></i>手机号登录</a></li>
            <li><a href="#">
                <i class="icon iconfont icon-weixin"></i>微信登录</a></li>
            <li><a href="#">
                <i class="icon iconfont icon-qq"></i>QQ登录</a></li>
            <li><a href="../index.html">
                <i class="icon iconfont icon-weibo"></i>新浪微博登录</a></li>
            <li><a href="../index.html">
                <i class="icon iconfont icon-youxiang"></i>网易邮箱账号登录</a></li>
          </ul>
          <span class="login-before"></span>

          <div class="my-hover login-after my-div">
            <img src="../img/header01/people.jpg" alt="HTML5" class="my-img1">
          </div>
          <ul class="my-response login-after my-ul">
            <li><a href="../order.html" target="_self">
                <i class="icon iconfont icon-dingdan" data-dingdan='dingdan'></i>我的订单</a></li>
            <li><a href="#">
                <i class="icon iconfont icon-youhuiquan"></i>我的优惠券</a></li>
            <li><a href="#">
                <i class="icon iconfont icon-shouhuodizhi"></i>我的收货地址</a></li>
            <li><a href="../index.html">
                <i class="icon iconfont icon-shouye"></i>网易云音乐首页</a></li>
            <li><a href="javascript:;">
                <i class="icon iconfont icon-tuichu"></i>退出</a></li>
          </ul>
          <span class="login-after my-span"></span>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="store">
    <div class="my-container">
        <div>
            <!--img src="/index/img/manhua0.jpg" alt="HTML5"-->
            <!--div id="my-carousel"></div-->
            <!--iframe src="./sub/carousel1/index.html" style="width:100%;min-height:37rem;border:none"></iframe-->
        </div>
        <div>
            <ul>
                <li>
                    <a href="pro.html">
                        <img class="float-left" src="/index/img/shuma-1.png" alt="HTML5">
                        <span>数码影音</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="float-left" src="/index/img/shuma-2.png" alt="HTML5">
                        <span>IP周边</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="float-left" src="/index/img/shuma-3.png" alt="HTML5">
                        <span>热销爆品</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="float-left" src="/index/img/shuma-4.png" alt="HTML5">
                        <span>积分商城</span>
                    </a>
                </li>
            </ul>
        </div>
        <hr class="my-top">
        <div class="my-top">
            <a href="/#"><img src="/index/img/qianbi.jpg" alt="HTML5"></a>
            <a href="/#"><img src="/index/img/yusha.jpg" alt="HTML5"></a>
        </div>
        <div class="my-bianji">
            <h4>编辑推荐</h4>
            <ul class="my-ul">
                <li>
                    <a href="/store/product/detail?id=1001">
                        <img src="/index/img/pro0.jpg" alt="">
                    </a>
                    <p>
                        <a href="">JBL T120A 立体声入耳式耳机
                            手机音乐耳机 游戏耳机 耳机耳麦 带麦可通话</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro1.jpg" alt="">
                    </a>
                    <p>
                        <a href="">哆啦探索·哆啦A梦温暖玻璃杯</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro2.jpg" alt="">
                    </a>
                    <p>
                        <a href="">【网易云音乐专供款】漫步者W800X立体声头戴式蓝牙耳机</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro3.jpg" alt="">
                    </a>
                    <p>
                        <a href="">【网易云音乐专供款】漫步者W280X 无线蓝牙入耳式运动耳机磁吸耳塞</a>
                        <span>￥128</span>
                    </p>
                </li>
            </ul>
            <ul class="my-ul">
                <li>
                    <a href="">
                        <img src="/index/img/pro4.jpg" alt="">
                    </a>
                    <p>
                        <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro5.jpg" alt="">
                    </a>
                    <p>
                        <a href="">网易云音乐手机壳 吉祥物-团子款（多多西西）</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro6.jpg" alt="">
                    </a>
                    <p>
                        <a href="">网易云音乐毛绒公仔多多西西</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro7.jpg" alt="">
                    </a>
                    <p>
                        <a href="">Beats EP 头戴式耳机 线控带麦运动耳机</a>
                        <span>￥128</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="my-guodu">
            <div>
                <h4>
                    <i class="icon iconfont icon-iconfont_guangpan"></i>数字专辑
                </h4>
                <p>Taylor Swift全新专辑火热售卖中</p>
                <h6>立即购买 &gt;</h6>
            </div>
            <div class="img-list">
                <img src="/index/img/guodu.jpg" alt="HTML5">
                <img src="/index/img/guodu1.jpg" alt="HTML5">
                <i class="circle"></i>
            </div>
        </div>
        <div class="my-remen">
            <h4 class="mt-5">热门推荐</h4>
            <ul class="my-ul">
                <li>
                    <a href="">
                        <img src="/index/img/pro-1.jpg" alt="">
                    </a>
                    <p>
                        <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro-2.jpg" alt="">
                    </a>
                    <p>
                        <a href="">网易云音乐手机壳 吉祥物-团子款（多多西西）</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro-3.jpg" alt="">
                    </a>
                    <p>
                        <a href="">网易云音乐毛绒公仔多多西西</a>
                        <span>￥128</span>
                    </p>
                </li>
                <li>
                    <a href="">
                        <img src="/index/img/pro-4.jpg" alt="">
                    </a>
                    <p>
                        <a href="">Beats EP 头戴式耳机 线控带麦运动耳机</a>
                        <span>￥128</span>
                    </p>
                </li>
            </ul>
            <ul class="my-ul">
                <li>
                    <a href="">
                        <img src="/index/img/pro-5.jpg" alt="">
                    </a>
                    <p>
                        <a href="">漫步者（EDIFIER）H841P 高性能立体声头戴式线控手机耳机</a>
                        <span>￥128</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<aside class="store">
    <ul>
        <li>100%正品</li>
        <li>七天无理由退货</li>
        <li>
            <i class="icon iconfont icon-shangcheng"><span>0</span></i><br>
            购物车
        </li>
        <li>
            <i class="icon iconfont icon-kefu-copy"></i><br>
            客服
        </li>
        <li class="bg-dark">
            <i class="icon iconfont icon-arrow-up"></i><br>
            TOP
        </li>
    </ul>
</aside>