section.cart div.my-container {
  margin: 1rem auto 0;
  width: 1100px;
}

section.cart div.my-container b.my-b:first-child {
  display: inline-block;
  padding-bottom: 0.8rem;
  margin-top: 0.8rem;
}

section.cart div.my-container hr {
  background: black;
}

section.cart div.my-container ul.my-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  padding-right: 20px;
}

section.cart div.my-container ul.my-choice li:first-child {
  padding-left: 1.1rem;
}

section.cart div.my-container ul.my-choice li:nth-child(2) {
  margin-right: 240px;
}

section.cart div.my-container div.my-all {
  line-height: 36px;
  background: #ddd9d9;
}

section.cart div.my-container div.my-all b {
  display: inline-block;
  line-height: 39px;
  height: 39px;
  padding-left: 3rem;
}

section.cart div.my-container div.my-all b:nth-child(2) {
  float: right;
  padding-right: 3rem;
}

section.cart div.my-container i.icon-manjian {
  font-size: 1.5rem;
  vertical-align: -4.5px;
}

section.cart div.my-container ul.my-list {
  margin-bottom: 3rem;
}

section.cart div.my-container ul.my-list li {
  padding: 1.1rem 1.1rem;
  border-bottom: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.cart div.my-container ul.my-list li img {
  background: #cac9c9;
  width: 80px;
  height: 80px;
}

section.cart div.my-container ul.my-list li p.my-detail {
  margin-left: 1.1rem;
  width: 340px;
}

section.cart div.my-container ul.my-list li p.my-detail a {
  display: block;
  font-size: 0.8rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

section.cart div.my-container ul.my-list li p.my-detail span {
  color: gray;
  font-size: 15px;
}

section.cart div.my-container ul.my-list li .price {
  margin-left: 44px;
  line-height: 83px;
  width: 175px;
  text-align: center;
}

section.cart div.my-container ul.my-list li .delete {
  cursor: pointer;
  -webkit-transition: all .3 linear;
  transition: all .3 linear;
}

section.cart div.my-container ul.my-list li .delete:hover {
  color: red;
}

section.cart div.my-container ul.my-list li .number {
  margin-top: 27.5px;
  margin-left: 10px;
}

section.cart div.my-container ul.my-list li .number button {
  width: 28px;
  height: 28px;
}

section.cart div.my-container ul.my-list li .number input {
  width: 28px;
  height: 28px;
  text-align: center;
  vertical-align: bottom;
}

section.cart div.my-container ul.my-list li:last-child {
  padding: 0 0 0 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.cart div.my-container ul.my-list li:last-child .add {
  font-size: 20px;
  color: red;
}

section.cart div.my-container ul.my-list li:last-child .my-btn {
  padding: 13px 60px;
  background: #f76161;
  color: white;
  border: 0;
  margin-left: 80px;
}

section.cart div.my-container ul.my-list .cart-kong {
  margin: 0 auto;
}

section.cart div.my-container ul.my-list .cart-kong a {
  text-decoration: none;
}

section.cart ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section.cart hr {
  margin-top: 0;
}

section.cart .my-input {
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  background: white;
  vertical-align: -4px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 0.8rem;
}

section.cart input.my-center {
  vertical-align: middle;
}

section.cart b {
  font-style: normal;
  display: inline-block;
}

aside {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

aside h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -24px;
}
/*# sourceMappingURL=cart.css.map */