@charset "UTF-8";
/*从蘑菇街架过来之后的样式*/
.detail.my-hr {
  width: 1100px;
  margin: 90px auto 0;
  background: black;
}

.detail.mymagn {
  width: 1100px;
  margin: 22px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail.my-right {
  font-size: 14px;
  color: gray;
  padding: 0 20px;
  border-right: 1px solid #d4d1d1;
}

.detail.pro_size span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 0.detail.4rem;
  text-align: center;
  line-height: 30px;
  color: black;
  font-weight: bold;
}

.detail.pro_color img {
  width: 45px;
  margin-right: 0.detail.8rem;
}

.detail.lingqu {
  display: inline-block;
  text-decoration: none;
  padding: 4px 15px;
  background: #ee5858;
  color: white;
  vertical-align: middle;
}

.detail.lingqu:hover {
  text-decoration: none;
  color: white;
}

.detail.main-aside {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.detail.aside {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.detail.aside div > button {
  padding: 5px 23px;
  margin-left: 20px;
  background: none;
  border: 2px solid red;
  vertical-align: bottom;
  cursor: pointer;
}

.detail.aside div > button:nth-child(1) {
  height: 48px;
}

.detail.aside div > button:nth-child(2) {
  background: #f54f4f;
  color: white;
  border: none;
  height: 48px;
}

.detail.aside p {
  margin: 0;
  white-space: nowrap;
}

.detail.aside span {
  color: red;
}

.detail.aside i {
  font-size: 23px;
  margin-right: 5px;
}

.detail.aside em {
  vertical-align: 2.detail.5px;
}

.detail.aside img {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background: #ddd;
}

.detail.my-remai {
  color: gray;
  text-align: center;
  padding-left: 5px;
}

.detail.my-remai img {
  width: 140px;
  height: 160px;
}

.detail.my-remai p {
  margin: 0;
  color: red;
}

.detail.my-remai div.detail.list-hide {
  overflow: hidden;
  height: 552px;
}

.detail.my-remai div.detail.list-hide ul {
  -webkit-transition: all .detail.3s linear;
  transition: all .detail.3s linear;
}

.detail.my-remai div.detail.list-hide ul li {
  margin-top: 5px;
}

/*结束*/
.detail.my_img {
  width: 40px;
  height: 40px;
}

.detail.my_img1 {
  width: 400px;
  height: 500px;
}

/* 中图的尺寸是400 X 500
   大图的尺寸按照4:3 计算： 533 X 666
*/
.detail.my_img2 {
  width: 60px;
  height: 60px;
}

.detail.my_img3 {
  width: 120px;
  height: 160px;
}

.detail.my_img4 {
  width: 160px;
  height: 240px;
}

.detail.my_bg {
  background-color: #950505;
}

.detail.my_bg1 {
  background-color: #dee2e6;
}

.detail.my_bg2 {
  background-color: papayawhip;
}

.detail.my_bg3 {
  background-color: pink;
}

.detail.my_bg4 {
  background-color: #ddd;
}

.detail.my_vertical_nav {
  background-color: #5a6268;
  color: white;
}

.detail.my_vertical_nav li a {
  color: white;
}

.detail.my_input_w {
  width: 23rem;
  height: 34px;
  border: 1px solid deeppink;
  outline: none;
  font-size: 0.detail.5rem;
  color: #5a6268;
  vertical-align: top;
}

.detail.my_button_bg {
  background-color: #FE217E;
  width: 100px;
  height: 34px;
  color: white;
  border: 0;
}

table tr td {
  padding: 0.detail.4rem 0.detail.3rem;
}

.detail.my_hidden {
  width: 400px;
  position: relative;
  /*overflow-y: hidden;*/
}

.detail.my_margin1 {
  margin-left: 9rem;
}

.detail.my_bg1 p span {
  vertical-align: middle;
}

.detail.my_btn {
  width: 1.detail.5rem;
  height: 1.detail.5rem;
}

.detail.my_input {
  width: 1.detail.5rem;
  height: 1.detail.5rem;
  text-align: center;
  vertical-align: top;
}

.detail.my_small {
  font-size: 0.detail.6rem;
}

.detail.my_top_border {
  border-top: 2px solid red;
}

.detail.my_fontFamily {
  font-family: myFirstFont;
}

@font-face {
  font-family: myFirstFont;
  src: url(".detail..detail./myfont/myfont.detail.ttf");
}

.detail.my_fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#my_xiaoshou ul li {
  float: left;
}

#my_button {
  position: relative;
  overflow: hidden;
}

.detail.my_button {
  position: absolute;
  z-index: 10;
  width: 738px;
  height: 200px;
  display: none;
}

.detail.active {
  display: block;
}

/**放大镜功能实现的相关样式**/
#mask {
  width: 300px;
  height: 300px;
  background: gray;
  opacity: 0.detail.3;
  z-index: 9;
  top: 0;
  left: 0;
}

#super-mask {
  width: 400px;
  height: 500px;
  z-index: 10;
  background: gray;
  opacity: 0.detail.1;
  top: 0;
  left: 0;
}

#div-lg {
  width: 500px;
  height: 500px;
  z-index: 10;
  background: gainsboro;
  opacity: 1;
  top: 0;
  left: 100%;
  border: 1px solid rgba(0, 0, 0, 0.detail.125);
}

#my_magn {
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  width: 800px;
  -webkit-transition: all .detail.5s linear;
  transition: all .detail.5s linear;
}

/*为ul设置宽度*/
#my_magn li {
  float: left;
  padding-top: 10px;
  text-align: center;
  padding-left: 14px;
}

.detail.my_card > div {
  overflow: hidden;
  width: 308px;
  display: inline-block;
}

/*放大镜功能样式的结束*/
/*# sourceMappingURL=detail.detail.css.detail.map */