.my-fontsize {
  font-size: 0.8rem;
}

header > div.my-container {
  background: #242424;
  min-width: 1349px;
}

header .my-padding {
  width: 1079.19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .my-padding > a {
  font-family: "my-font0";
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 69.38px;
}

header .my-padding > ul {
  list-style: none;
  margin: 0;
  padding-left: 1.5rem;
}

header .my-padding > ul li {
  float: left;
}

header .my-padding > ul li a {
  display: inline-block;
  padding: 0 1rem;
  color: lightgray;
  text-decoration: none;
  font-size: 0.9rem;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  line-height: 69.38px;
}

header .my-padding > ul li a:hover {
  background: #000;
}

header .my-padding > ul li:nth-child(3), header .my-padding > ul li:nth-child(6) {
  position: relative;
}

header .my-padding > ul li:nth-child(3)::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: red;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50px;
  border-radius: 50%;
}

header .my-padding > ul li:nth-child(6)::after {
  content: "HOT";
  font-size: 8px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  color: white;
  display: block;
  width: 25px;
  height: 10px;
  line-height: 13px;
  background: red;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 105px;
  border-radius: 50px 50px;
}

header .my-padding > div:nth-child(3) {
  border-radius: 50px 50px;
  margin: 1.2rem 0.2rem 1.2rem 4rem;
  overflow: hidden;
  padding-left: 0.3rem;
}

header .my-padding > div:nth-child(3) input {
  border: 0;
  font-size: 0.6rem;
  line-height: 29.63px;
}

header .my-padding > div:nth-child(3) input:focus {
  outline: none;
}

header .my-padding > div:nth-child(3) i {
  line-height: 29.63px;
  font-size: 1.2rem;
  vertical-align: -2px;
}

header .my-padding > div:nth-child(4) {
  border-radius: 50px 50px;
  margin: 1.2rem 0.8rem;
  /*background-color: white;*/
  color: gray;
  font-size: 0.8rem;
  border: 1px solid lightgray;
  padding: 0.1rem 0.8rem 0;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

header .my-padding > div:nth-child(4):hover {
  border: 1px solid white;
}

header .my-padding > div:nth-child(5) {
  position: relative;
}

header .my-padding > div:nth-child(5) > div:first-child {
  margin-top: 1.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.2rem;
}

header .my-padding > div:nth-child(5)::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 2.5rem;
  top: 2rem;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #ddd transparent transparent;
}

header .my-padding > div:nth-child(5):hover div.my-hidden {
  display: block;
}

header .my-padding div.my-login {
  overflow: visible !important;
}

header .my-padding div.my-login a {
  display: inline-block;
  color: gray;
  font-size: 0.6rem;
  padding-top: 0.39rem;
  padding-left: 0.2rem;
}

header .my-padding div.my-login a:hover {
  color: lightgray;
}

header .my-padding div.my-login a:focus {
  outline: none;
  border: none;
}

div.my-hidden {
  display: none;
  position: absolute;
  z-index: 2;
  left: -55px;
  top: 57px;
}

div.my-hidden ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.my-hidden ul li a {
  display: inline-block;
  width: 158px;
  color: gray;
  font-size: 0.8rem;
  background: #332828;
  padding: 0.5rem 0.7rem;
}

div.my-hidden ul li a:hover {
  text-decoration: none;
  background: lightgray;
}

div.my-hidden ul li:first-child {
  border-radius: 5px 5px 0 0;
}

div.my-hidden ul li:last-child {
  border-radius: 5px 5px 0 0;
}

div.my-hidden i {
  display: inline-block;
  height: 20px;
  font-size: 0.9rem;
}

header .my-img0 {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

header div.my-change {
  position: relative;
  background: #C20C0C;
}

header div.my-change::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 27.3%;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent #C20C0C;
}

.active2 {
  background: black;
}
/*# sourceMappingURL=header0.css.map */