@charset "UTF-8";
.my-fontsize {
  font-size: 0.8rem;
}

/*头部*/

header > div.my-container {
  background: #242424;
  /* overflow: hidden; */
}

header > div.my-container .my-hidden.my-before-login {
  display: none;
}

header .my-padding {
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  margin:0 auto;
  display: flex;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .my-padding .bg-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .my-padding > a {
  font-family: "my-font0";
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 70px;
  height:70px;
}

header .my-padding > ul {
  list-style: none;
  margin: 0;

}

header .my-padding > ul li {
  float: left;
}

header .my-padding > ul li a {
  display: inline-block;
  padding: 0 1rem;
  color: lightgray;
  text-decoration: none;
  font-size: 0.9rem;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  line-height: 70px;
  height:70px;
}

header .my-padding > ul li a:hover {
  background: #000;
}

header .my-padding > ul li:nth-child(3), header .my-padding > ul li:nth-child(6) {
  position: relative;
}

header .my-padding > ul li:nth-child(3)::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  background: red;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50px;
  border-radius: 50%;
}

header .my-padding > ul li:nth-child(6)::after {
  content: "HOT";
  font-size: 12px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  color: white;
  display: block;
  padding:2px 3px;
  height: 13px;
  line-height: 13px;
  background: red;
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 85px;
  border-radius: 10px;
}

header .my-padding div.my-exit {
  display: none;
}

header .my-padding > div:nth-child(3) {
  border-radius: 30px;
  overflow: hidden;
  padding-left: 0.3rem;
  height:30px;
  line-height: 30px;
}

header .my-padding > div:nth-child(3) input {
  border: 0;
  font-size: 0.6rem;
  line-height: 30px;
  height:30px;
  width:120px;
  padding:0;
  vertical-align: top;
}

header .my-padding > div:nth-child(3) input:focus {
  outline: none;
}

header .my-padding > div:nth-child(3) i {

  font-size:20px;
}

header .my-padding > div:nth-child(4) {
  border-radius: 30px;
  color: gray;
  font-size: 0.8rem;
  border: 1px solid lightgray;
  padding:0 10px;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
}

header .my-padding > div:nth-child(4):hover {
  border: 1px solid white;
}

header .my-padding > div:nth-child(5) {
  position: relative;
}

header .my-padding > div:nth-child(5) > div:first-child {
  margin-top: 1.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 0.2rem;
}




header .my-padding div.my-login {
  position: relative;
  margin-top: 10px;
}

header .my-padding div.my-login:hover .my-hidden{
  display: block !important;
}

header .my-padding div.my-login a {
  display: inline-block;
  color: gray;


}

header .my-padding div.my-login a:hover {
  color: lightgray;
}

header .my-padding div.my-login a:focus {
  outline: none;
  border: none;
}

div.my-hidden {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 50%;
  margin-left:-79px;
  top: calc(100%);
}

div.my-hidden ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.my-hidden ul li a {
  display: inline-block;
  width: 158px;
  color: gray;
  font-size: 0.8rem;
  background: #353535;
  
  height: 45px;
  line-height: 45px;
  padding:0 10px;
  
}

div.my-hidden ul li a:hover {
  text-decoration: none;
 
}

div.my-hidden ul li:first-child {
  border-radius: 5px 5px 0 0;
}

div.my-hidden ul li:last-child {
  border-radius: 5px 5px 0 0;
}

div.my-hidden i {

  padding-right: 5px;
}

header .my-img0 {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  float: left;
  margin-top:17px;
  margin-right:10px;
}

header div.my-change {
  position: relative;
  background: #C20C0C;
}

header div.my-change::after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 27.3%;
  border-width: 0 5px 5px;
  border-style: solid;
  border-color: transparent transparent #C20C0C;
}



/*有关模态框的样式的编写*/
.modal-content {
  width: 500px;
  height: 330px;
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -165px;
  margin-left: -250px;
  z-index: 1000;
  background: white;
  border-radius: 10px;
  box-shadow: 13px 13px 11px -8px grey;
  display: none;
}

.modal-header {
  background: #2D2D2D;
  padding: 0 0.8rem;
  height:50px;
  line-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: move;
}

.modal-header > span:nth-child(2) {
  color: gainsboro;
  cursor: pointer;
}

.modal-header > span:nth-child(2):hover {
  color: gray;
}

.modal-body {
  padding: 22px 10px 22px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-right: 1px solid #e2dede;
  padding-right: 25px;
}

.modal-body > div:nth-child(1) button {
  width: 247px;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 0.3rem 0;
}

.modal-body > div:nth-child(1) button:nth-child(2) {
  background: #3282CE;
  margin: 1.5rem 0 1rem;
  color: white;
}

.modal-body ul {
  margin-left: 25px;
  width: 250px;
}

.modal-body ul li {
  margin-bottom: 12px;
}

.modal-body ul li div {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #bebdbd;
  font-size: 0.9rem;
  float: left;
  margin-right: 9px;
}

.modal-body ul li em {
  line-height: 38px;
  font-size: 12px;
}

.modal-body ul li:nth-child(1) div {
  background: url("/index/img/logo.png") no-repeat;
  background-position: -150px -670px;
}

.modal-body ul li:nth-child(2) div {
  background: url("/index/img/logo.png") no-repeat;
  background-position: -190px -670px;
}

.modal-body ul li:nth-child(3) div {
  background: url("/index/img/logo.png") no-repeat;
  background-position: -231px -670px;
}

.modal-body ul li:nth-child(4) div {
  background: url("/index/img/logo.png") no-repeat;
  background-position: -271px -670px;
}


.modal .register {
  width: 100%;
  height: 100%;
}

.modal .register-body {
  padding: 22px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60.1%;
  overflow: hidden;
}

.modal .register-body label {
  margin-top: 0.5rem;
}

.modal .register-body button {
  margin-top: 20px;
  background: #3282CE;
  border: 0;
  padding: 4px;
  border-radius: 4px;
}

.modal .register-body input {
  font-size: 13px;
  padding: 4px 6px;
}

.modal .check .register-body {
  padding-top: 43px;
}

.modal .modal-footer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  margin-top: -52px;
}

.modal .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.modal .select select {
  border-right: none;
}

.modal input:focus {
  outline: none;
}

.modal select:focus {
  outline: none;
}

.modal .select option {
  width: 50px;
}

.modal .check {
  display: none;
}

.modal .my-times {
  font-size: 25px;
  float: right;
}

.modal .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .inputs input {
  border: 0;
  border-bottom: 2px solid #dad7d7;
  width: 20%;
  text-align: center;
  font-size: 20px;
  padding-bottom: 0;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

.modal .my-p {
  margin-bottom: 0;
  font-size: 12px;
}

.modal .my-p em {
  vertical-align: bottom;
  color: black;
  font-weight: bold;
}

.modal .my-safe {
  font-size: 12px;
  margin-bottom: 0;
}

.modal .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .time span {
  opacity: 0;
  color: red;
}

.modal .time a {
  display: none;
}

.modal .time i {
  vertical-align: -1px;
}

.modal .login-next {
  display: none;
}

.modal .login-next .select {
  margin: 40px 0 10px;
}

.modal .login-next .modal-footer.my-a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .login-next .modal-footer.my-a a {
  font-size: 13px;
  color: gray;
}

.modal .my-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.modal .my-check input {
  vertical-align: -2px;
}
/*结束*/


/*首页的样式*/

/*只要有三个以上的项目水平居中显示的方式*/


section.index div.my-container > div:nth-child(1) {
  background: #C20C0C;
  overflow: hidden;
  padding: 0 0 0.3rem;
  position: relative;
}

section.index div.my-container > div:nth-child(1) ul {

  list-style: none;
  margin: 0 auto;
}

section.index div.my-container > div:nth-child(1) ul li {
  float: left;
  margin-left: 2rem;
  padding-bottom: 0.2rem;
}

section.index div.my-container > div:nth-child(1) ul li a {
  color: white;
  font-size: 0.6rem;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.2rem 0.7rem;
}

section.index div.my-container > div:nth-child(1) ul li a:hover {
  background: #db3333;
}

section.index div.my-container > div:nth-child(1) ul::after {
  content: "";
  display: block;
  clear: both;
}

section.index div.my-container > div:nth-child(2) {
  position: relative;
}

section.index div.my-container > div:nth-child(2) div.my-bg-hover {
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}

section.index div.my-container > div:nth-child(2) div.my-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.index div.my-container > div:nth-child(2) div.my-car div:first-child {
  position: relative;
  width: 730px;
  height: 336px;
}

section.index div.my-container > div:nth-child(2) div.my-car div:first-child ul.my-intro {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  top: 88%;
  left: 50%;
  margin-left: -60px;
}

section.index div.my-container > div:nth-child(2) div.my-car div:first-child ul.my-intro li {
  float: left;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ddd;
  margin: 0 10px;
  opacity: 0.5;
}

section.index div.my-container > div:nth-child(2) div.my-car div:first-child > img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

section.index div.my-container > div:nth-child(2) div.my-car div:first-child > img:first-child {
  opacity: 1;
}

section.index div.my-container > div:nth-child(2) div.my-car div.my-down {
  position: relative;
}

section.index div.my-container > div:nth-child(2) div.my-car div.my-down span {
  position: absolute;
  display: block;
  z-index: 1;
  left: 7.7%;
  top: 63.7%;
  width: 13.4rem;
  height: 3.55rem;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

section.index div.my-container > div:nth-child(2) div.my-car div.my-down span:hover {
  background: rgba(0, 0, 0, 0.4);
}

section.index div.my-container > div:nth-child(2) div.my-car div.my-down span::after {
  content: "PC 安卓 iPhone WP iPad Mac 客户端";
  position: absolute;
  display: block;
  top: 105%;
  left: 5.1%;
  z-index: 1;
  font-size: 0.6rem;
  color: gray;
}

section.index div.my-container > div:nth-child(2) > a {
  position: absolute;
  display: block;
  z-index: 1;
  top: 50%;
  left: 6%;
  margin-top: -33.5px;
  color: gray;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: all .6s linear;
  transition: all .6s linear;
}

section.index div.my-container > div:nth-child(2) > a i {
  font-size: 2.8rem;
  opacity: 0.8;
}

section.index div.my-container > div:nth-child(2) > a.next {
  left: 94%;
  margin-left: -44.8px;
}

section.index div.my-container > div:nth-child(3) {
  width: 980px;
  border: 1px solid #c5c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0 auto;
  background: white;
  border-bottom: 0;
  border-top: 0;
}

section.index div.my-container > div:nth-child(3) div.my-left {
  padding: 0 1.75rem 2rem;
  width: 729.22px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 {
  
  border-bottom: 2px solid red;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 ul {
  list-style: none;
  margin-bottom: 0;

}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 ul li {
  float: left;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 ul li a {
  color: gray;
  font-size: 0.8rem;
  padding:0 10px;
  border-right:1px solid gray;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 ul li b {
  padding: 0 1rem;
  font-weight: normal;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 i {
  font-size: 17px;
  color: red;
  padding:0 10px;
  vertical-align: -1px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 span a {
  font-size: 0.6rem;
  color: gray;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 span > i {
  color: red;
  font-size: 0.6rem;
  padding-right: 1.2rem;
  padding-left: 0.2rem;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-header0 span.my-span {
  float: right;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-content0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-content0 a {
  color: gray;
  font-size: 0.8rem;
  width: 140px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-content0 a p {
  padding-top: 0.2rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 {
  position: relative;
  margin-top: 2rem;
  padding: 2rem 2rem;
  background: #e3e3e3;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > div {
  overflow: hidden;
  width: 608.31px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > div div.my-inner {
  width: 1216.62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .8s linear;
  transition: all .8s linear;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > div ul {
  width: 608.31px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > div ul li {
  float: left;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > div ul li a {
  display: block;
  width: 100px;
  font-size: 0.8rem;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > a {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 0.3%;
  height: 4rem;
  width: 1.6rem;
  background: rgba(119, 110, 110, 0.6);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  text-decoration: none;
  border-radius: 2px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > a:hover {
  background: #948484;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > a i {
  color: gray;
  font-size: 1.5rem;
  line-height: 4rem;
  padding-right: 1.2rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-car1 > a.my-next {
  left: 95.9%;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian {
  margin-top: 1.2rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian ul li {
  width: 140px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian ul li > a {
  color: black;
  font-size: 0.8rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian ul li > p {
  color: gray;
  font-size: 0.6rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian ul li > p em {
  font-style: normal;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-tuijian ul li:nth-child(2) img {
  border: 1px solid gray;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-date {
  background: white url("../img/index/date.png") no-repeat;
  background-position: -1% -1%;
  text-align: center;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-date p {
  margin: 0;
  width: 140px;
  color: white;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-date p:last-child {
  font-size: 5rem;
  font-weight: bold;
  color: black;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-date p:first-child {
  padding-top: 0.3rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort {
  margin-top: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid gray;
  width: 224px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:not(:first-child) {
  padding: 0.3rem 0 0.3rem 1.2rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:not(:first-child) span {
  display: inline-block;
  width: 22px;
  color: gray;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:not(:first-child) a {
  display: inline-block;
  color: gray;
  font-size: 0.9rem;
  width: 120px;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:first-child {
  padding: 1.6rem 0.5rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:first-child div h5 a {
  color: black;
  font-size: 0.8rem;
  font-family: my-font1;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:first-child div i {
  font-size: 1.8rem;
  color: gray;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:first-child div i:hover {
  color: black;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:last-child {
  text-align: right;
  padding-right: 1.2rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:nth-child(2n) {
  background: #E8E8E8;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul li:nth-child(2n+1) {
  background: #F4F4F4;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul div {
  margin-left: 0.8rem;
  margin-top: 0.6rem;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul:first-child {
  border-right: none;
}

section.index div.my-container > div:nth-child(3) div.my-left div.my-sort ul:last-child {
  border-left: none;
}

section.index div.my-container > div:nth-child(3) div.my-right {
  border-left: 1px solid gray;
  text-align: center;
  width: 252.19px;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden {
  text-align: left;
  padding: 1rem 1.8rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#FBFBFB));
  background-image: linear-gradient(bottom, #e3e3e3, #FBFBFB);
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .hidden-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .hidden-top img {
  padding: 3px;
  border: 1px solid #cccaca;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .ting {
  padding-left: 20px;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .ting > p {
  margin-bottom: 6px;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .ting p:first-child {
  color: black;
  font-size: 14px;
  font-weight: bold;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .ting p:nth-child(2) {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2px 1px;
  text-align: center;
  width: 42px;
  font-size: 12px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .ting button {
  padding: 3px 21px;
  background: #5786ec;
  text-align: center;
  color: white;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .hidden-buttom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  margin-top: 20px;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .hidden-buttom ul li {
  text-align: center;
  border-right: 1px solid #d6d1d1;
  width: 53px;
}

section.index div.my-container > div:nth-child(3) div.my-right .my-right-hidden .hidden-buttom ul li p {
  margin: 0;
}

section.index div.my-container > div:nth-child(3) div.my-right div:first-child:not(.hidden-top) {
  padding: 1rem 1.8rem;
  font-size: 0.6rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e3e3e3), to(#FBFBFB));
  background-image: linear-gradient(bottom, #e3e3e3, #FBFBFB);
}

section.index div.my-container > div:nth-child(3) div.my-right div:first-child:not(.hidden-top) p {
  width: 12.1rem;
  color: gray;
  line-height: 30px;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside {
  padding: 1.2rem 1.2rem 0;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside h5 {
  font-size: 0.8rem;
  text-align: justify;
  margin-bottom: 0;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside h5 span {
  font-weight: bold;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside h5 span a {
  color: gray;
  font-size: 0.6rem;
  float: right;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside hr {
  margin-top: 0.5rem;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul1 li {
  margin-bottom: 1.2rem;
  background: #f5f2f2;
  text-align: left;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul1 li a {
  display: block;
  width: 9rem;
  float: right;
  color: black;
  text-decoration: none;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul1 li a p:first-child {
  font-size: 0.8rem;
  font-weight: bold;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul1 li a p:last-child {
  font-size: 0.6rem;
  color: gray;
  margin-bottom: 0.2rem;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside button.my-btn {
  width: 100%;
  margin-top: 0.8rem;
  padding: 0.2rem 0;
  text-align: center;
  color: gray;
  font-size: 0.8rem;
  font-weight: bold;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside h5.my-h5 {
  margin-top: 4rem;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul2 li {
  margin-bottom: 0.8rem;
  text-align: left;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul2 div {
  width: 10rem;
  float: right;
  font-size: 0.8rem;
  text-align: left;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul2 div a {
  color: black;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul2 div a span {
  padding-left: 0.2rem;
  color: red;
  font-family: mt-font0;
  font-weight: bold;
}

section.index div.my-container > div:nth-child(3) div.my-right div.my-aside ul.my-ul2 div p {
  color: gray;
  margin-bottom: 0.2rem;
}

section.index .my-bg1 {
  background: #1b1a1a;
}

section.index .my-bg2 {
  background: #962F32;
}

section.index .my-bg3 {
  background: #314254;
}

section.index .my-bg4 {
  background: #B1BEF3;
}

section.index .my-img {
  vertical-align: top;
  height: 336px;
  width: 253.27px;
}

section.index .my-img1 {
  width: 80px;
  height: 80px;
}

section.index .active {
  background: #db3333;
}

section.index .active1 {
  background: #f00606 !important;
}

section.index .disabled {
  background: #c4bcbc !important;
}

section.index ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

aside.aside-bottom {
  width: 100%;
  position: fixed;
  top: 100%;
  left: 0;
  background: #776e6e url(../img/index/playbar.png) repeat;
  background-position: left -3px;
  height: 51px;
  margin-top: -51px;
  z-index: 1;
  opacity: 0;
  outline: 1px solid rgba(0, 0, 0, 0.4);
  /*伪元素表示在当前的元素之前或者之后进行值的插入*/
}

aside.aside-bottom i {
  cursor: pointer;
}

aside.aside-bottom:hover {
  opacity: 1;
}

aside.aside-bottom > div.aside-play {
  margin: 0 auto;
  width: 980px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside.aside-bottom > div.aside-play div.my-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

aside.aside-bottom > div.aside-play div.my-control a {
  color: white;
  text-decoration: none;
  padding-top: 1px;
}

aside.aside-bottom > div.aside-play div.my-control a i {
  font-size: 25px;
  /*36 28*/
  color: gray;
}

aside.aside-bottom > div.aside-play div.my-control a:nth-child(2) {
  margin: 0 10px;
  padding-bottom: 2px;
}

aside.aside-bottom > div.aside-play div.my-control a:nth-child(2) i {
  font-size: 34px;
  color: white;
}

aside.aside-bottom > div.aside-play div.center-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 51px;
}

aside.aside-bottom > div.aside-play div.center-item div.img-item {
  margin-right: 20px;
}

aside.aside-bottom > div.aside-play div.center-item div.img-item img {
  border-radius: 3px;
  border: 1px solid black;
}

aside.aside-bottom > div.aside-play div.center-item > div:nth-child(2) {
  padding-top: 3px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

aside.aside-bottom > div.aside-play div.center-item em {
  font-size: 0.6rem;
  margin-right: 10px;
}

aside.aside-bottom > div.aside-play div.center-item > div > em:nth-child(1) {
  color: white;
}

aside.aside-bottom > div.aside-play div.center-item > div > em:nth-child(2) {
  color: gray;
}

aside.aside-bottom > div.aside-play div.center-item div.my-progress {
  width: 493px;
  height: 10px;
  background: #000;
  opacity: 0.8;
  border-radius: 30px;
  margin-top: 4px;
  position: relative;
}

aside.aside-bottom > div.aside-play div.center-item div.my-progress > div {
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  margin-top: -3px;
  position: absolute;
  left: 0;
  top: 0;
}

aside.aside-bottom > div.aside-play div.center-item div.my-progress > div:hover {
  -webkit-box-shadow: gray 0 0 10px;
          box-shadow: gray 0 0 10px;
}

aside.aside-bottom > div.aside-play div.center-item div.my-progress > div > i {
  width: 7px;
  height: 7px;
  position: absolute;
  z-index: 2;
  background: red;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -3.5px;
  margin-top: -3.5px;
}

aside.aside-bottom > div.aside-play div.center-item span {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 6px;
  margin-left: 16px;
  font-size: 14px;
}

aside.aside-bottom > div.aside-play div.center-item span i {
  color: gray;
}

aside.aside-bottom > div.aside-play div.right-item i {
  color: gray;
  font-size: 18px;
  margin-left: 10px;
}

aside.aside-bottom > div.aside-play div.my-volume {
  margin-left: 27px;
}

aside.aside-bottom > div.aside-play div.my-volume i {
  font-size: 18px;
  color: gray;
  margin-right: 2px;
}

aside.aside-bottom div.btn-hide {
  width: 65px;
  height: 70px;
  background: #000;
  top: -27%;
  left: 92%;
  background: url(../img/index/playbar.png) no-repeat;
  background-position: 0 -383px;
  position: absolute;
}

aside.aside-bottom div.btn-hide span {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 17px;
  color: gray;
  cursor: pointer;
}

.my-opacity {
  opacity: 1 !important;
}
/*结束*/

/* 底部 */

footer div.my-container {
  
  background: #f2f2f2;
  border-top: 1px solid gray;
  padding-bottom: 3.2rem;
}

footer div.my-container > div:first-child {
  width: 1079.19px;
  margin: 1rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div.my-container > div:first-child div:first-child ul {
  list-style: none;
  padding-left: 0;
}

footer div.my-container > div:first-child div:first-child ul li {
  float: left;
}

footer div.my-container > div:first-child div:first-child ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0 0.8rem;
  color: gray;
  font-size: 0.8rem;
  border-right: 1px solid gray;
}

footer div.my-container > div:first-child div:first-child ul li:nth-child(5) > a {
  border: 0;
}

footer div.my-container > div:first-child div:first-child p,
footer div.my-container > div:first-child div:first-child span {
  font-size: 0.8rem;
  padding-left: 0.8rem;
  margin: 0.2rem auto;
}

footer div.my-container > div:first-child div:nth-child(2) ul {
  padding-bottom: 0.1rem;
  list-style: none;
  margin-bottom: 0;
}

footer div.my-container > div:first-child div:nth-child(2) ul li {
  text-align: center;
  float: left;
  margin-right: 2.8rem;
  font-size: 0.6rem;
}

footer div.my-container > div:first-child div:nth-child(2) ul li a {
  color: gray;
  text-decoration: none;
}

footer div.my-container > div:first-child div:nth-child(2) ul li a i {
  font-size: 45px;
}

footer div.my-container > div:first-child div:nth-child(2) ul li p {
  margin-bottom: 0;
}

footer div.my-container > div:first-child div:nth-child(2) ul::after {
  content: "";
  display: block;
  clear: both;
}

/*底部结束*/

/*商场的样式*/
section.store div.my-container {
  min-width: 1349px;
}

section.store div.my-container div:first-child {
  text-align: center;
}

section.store div.my-container div:nth-child(2) ul {
  padding: 1.2rem 0.8rem;
  margin: 0 auto;
  width: 965px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.store div.my-container div:nth-child(2) ul li {
  border-right: 1px solid gray;
  padding-right: 4.5rem;
  margin-right: 4.5rem;
  padding-top:10px;
  padding-bottom:10px;
}

section.store div.my-container div:nth-child(2) ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 48px;
}

section.store div.my-container div:nth-child(2) ul li:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}

section.store div.my-container div.my-top {
  width: 1100px;
  margin: 4rem auto 0;
}

section.store div.my-container div.my-top a:nth-child(2) {
  float: right;
}

section.store div.my-container div.my-top img {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

section.store div.my-container div.my-top img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

section.store div.my-container div.my-bianji, section.store div.my-container div.my-remen {
  width: 1100px;
  margin: 5rem auto;
}

section.store div.my-container div.my-bianji h4, section.store div.my-container div.my-remen h4 {
  font-weight: bold;
}

section.store div.my-container div.my-bianji ul.my-ul, section.store div.my-container div.my-remen ul.my-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

section.store div.my-container div.my-bianji ul.my-ul li, section.store div.my-container div.my-remen ul.my-ul li {
  width: 263px;
}

section.store div.my-container div.my-bianji ul.my-ul li p > a, section.store div.my-container div.my-remen ul.my-ul li p > a {
  display: block;
  margin-top: 0.4rem;
  height: 41px;
  font-size: 0.8rem;
  color: gray;
}

section.store div.my-container div.my-bianji ul.my-ul li p, section.store div.my-container div.my-remen ul.my-ul li p {
  margin: 0;
}

section.store div.my-container div.my-bianji ul.my-ul li p span, section.store div.my-container div.my-remen ul.my-ul li p span {
  color: red;
}

section.store div.my-container div.my-bianji ul.my-ul li img, section.store div.my-container div.my-remen ul.my-ul li img {
  background: #f5f8f8;
  width: 263px;
  height: 263px;
}

section.store div.my-container div.my-bianji ul:nth-child(2), section.store div.my-container div.my-remen ul:nth-child(2) {
  margin-top: 1rem;
}

section.store div.my-container div.my-guodu {
  width: 1100px;
  margin: 1rem auto;
  padding: 1rem 4rem;
  background: #F9F9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.store div.my-container div.my-guodu div {
  text-align: left;
}

section.store div.my-container div.my-guodu h4 {
  font-weight: bold;
  font-size: 1.9rem;
  font-family: my-font1;
}

section.store div.my-container div.my-guodu h4 i {
  font-size: 35px;
}

section.store div.my-container div.my-guodu h6 {
  font-size: 1.5rem;
  font-weight: bold;
}

section.store div.my-container div.my-guodu p {
  color: gray;
}

section.store div.my-container div.my-guodu div.img-list {
  position: relative;
}

section.store div.my-container div.my-guodu div.img-list img {
  position: absolute;
  left: -133px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

section.store div.my-container div.my-guodu div.img-list img:first-child {
  left: -199px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

section.store div.my-container div.my-guodu div.img-list img:first-child:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

section.store div.my-container div.my-guodu div.img-list img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.store div.my-container div.my-guodu div.img-list i.circle {
  position: absolute;
  left: -13px;
  top: -75px;
  background: url("../img/store/pointlist.png") no-repeat;
  background-position: 0 37%;
  width: 200px;
  height: 200px;
}

section.store div.my-container div.my-remen {
  width: 1100px;
  margin: 3rem auto;
}

section.store div.my-container div.my-remen h4 {
  font-weight: bold;
}

section.store ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.store .my-bg1 {
  background-color: #BEFEFE;
}

aside.store {
  position: fixed;
  top: 25%;
  left: 93%;
  z-index: 1;
  display: none;
}

aside.store ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside.store ul li {
  width: 60px;
  text-align: center;
  height: 60px;
  padding: 1.1rem 0.6rem;
  color: gray;
  font-size: 0.7rem;
  background: wheat;
  cursor: pointer;
}

aside.store ul li:first-child {
  cursor: auto;
}

aside.store ul li:nth-child(2) {
  padding: 1.1rem 0.3rem;
  cursor: auto;
}

aside.store ul li:nth-child(3) i {
  position: relative;
}

aside.store ul li:nth-child(3) i span {
  position: absolute;
  top: -6px;
  left: 11px;
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 12px;
  background: red;
  color: white;
  text-align: center;
}

header.store div.my-container {
 
  background: white;
}

header.store div.my-container > div {
  width: 1100px;
  margin: 0 auto;
  
  display: -webkit-box;
  display: -ms-flexbox;
  align-items: center;
  height:70px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.store div.my-container > div div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.store div.my-container > div div:first-child span:first-child {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

header.store div.my-container > div div:first-child h5 {
  margin: 0;
  font-size: 2rem;
  font-family: my-font1;
  padding-left: 0.8rem;
  
}

header.store div.my-container > div div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
  padding-top: 0.1rem;
}

header.store div.my-container > div div:nth-child(2) div:first-child {
  border-radius: 38px;
  overflow: hidden;
  border: 1px solid gray;
  background: white;
  margin-right: 1.8rem;
  height: 38px;
  line-height: 38px;
  padding-left:5px;
}

header.store div.my-container > div div:nth-child(2) div:first-child input {
  border: none;
  vertical-align: 4px;
  width: 100%;
  font-size: 0.5rem;
  height: 38px;;
}

header.store div.my-container > div div:nth-child(2) div:first-child input:focus {
  outline: none;
}

header.store div.my-container > div div:nth-child(2) div:first-child i {
  font-size: 21px;
  font-weight: bold;

}

header.store div.my-container > div div:nth-child(2) > span {
  height: 36px;
}

header.store div.my-container > div div:nth-child(2) > span i {
  font-size: 56px;
  line-height: 36px;
  position: relative;
  cursor: pointer;
}

header.store div.my-container > div div:nth-child(2) > span i > span {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: red;
  top: 10%;
  left: 78%;
  font-size: 0.6rem;
  line-height: 20px;
  text-align: center;
  color: wheat;
}

header.store div.my-container > div div:nth-child(2) > div:last-child {
  position: relative;
}

header.store div.my-container > div div:nth-child(2) > div:last-child > div.my-hover {
  border-radius: 50%;
  overflow: hidden;
  margin-left: 2rem;
}

header.store div.my-container > div div:nth-child(2) > div:last-child > div.my-hover.my-login {
  border-radius: 0;
}

header.store div.my-container > div div:nth-child(2) > div:last-child > div.my-hover.my-login b {
  padding-top: 0.3rem;
}

header.store div.my-container > div div:nth-child(2) > div:last-child > div.my-hover.my-login a {
  color: gray;
}

header.store div.my-container > div div:nth-child(2) > div:last-child > span {
  position: absolute;
  display: block;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: gray transparent transparent;
  z-index: 1;
  top: 31%;
  left: 79%;
}

header.store div.my-container > div div:nth-child(2) > div:last-child ul.my-response {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 46px;
  left: -30px;
  z-index: 2;
  list-style: none;
  background: #ddd;
}

header.store div.my-container > div div:nth-child(2) > div:last-child ul.my-response li a {
  display: inline-block;
  color: #948989;
  font-size: 0.8rem;
  text-decoration: none;
  width: 10.3rem;
  padding: 0 1.1rem;
  line-height: 40px;
}

header.store div.my-container > div div:nth-child(2) > div:last-child ul.my-response li a:hover {
  background: #f2f2f2;
}

header.store div.my-container > div div:nth-child(2) > div:last-child ul.my-response li a i {
  padding-right: 0.5rem;
  line-height: 40px;
  vertical-align: -1px;
}

header.store div.my-container > div div:nth-child(2) > div:last-child ul.my-response::after {
  content: "";
  display: block;
  position: absolute;
  border-width: 0 9px 9px;
  border-style: solid;
  border-color: transparent transparent #ddd;
  top: -4%;
  left: 45%;
  z-index: 1;
}

header.store div.my-icon .login-after {
  display: none !important;
}

header.store div.my-icon:hover ul.my-response {
  display: block;
}

header.store .my-img {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

header.store .my-img1 {
  width: 37px;
  height: 37px;
}

header.store ul.login-before {
  display: none;
}

header.store .my-ul {
  display: none;
}

header.store .my-span {
  left: 105% !important;
}
/*商场样式*/