<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
	<div class="container-fluid p-0">
	<div class="mt-3">
		<div class="d-flex justify-content-center align-items-center">
			<label>用户</label><input class="form-control w-50 ml-2" type="text" name="uname" />
		</div>
		<div class="d-flex mt-2 justify-content-center align-items-center">
			<label>密码</label><input class="form-control w-50 ml-2" type="password" name="upwd" />
		</div>
	</div>
	</div>
</body>
</html>