html,body{
  width:100%;
}
.main-box{
  width:100%;
  height:100%;
  color:gray;
}
.main-box>div{
  width:100%;
  // height:600px;
}
.my-bg1{
  background :url("../img/yinyueren/bg1.jpg") no-repeat;
}
.my-bg2{
  background:red url("../img/yinyueren/bg2.jpg") no-repeat;
}
.my-bg3{
  background:red url("../img/yinyueren/bg3.jpg") no-repeat;
}
.my-bg4{
  background: url("../img/yinyueren/bg1.jpg") no-repeat;
}
.my-bg5{
  background:red url("../img/yinyueren/bg2.jpg") no-repeat;
}
.my-bg6{
  background:red url("../img/yinyueren/bg3.jpg") no-repeat;
}
header{
  background: #242424;
  position: fixed;
  z-index: 1;
  top:0;
  left:0;
  width:100%;
  div.my-top{
    width:1200px;
    margin:0 auto;
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    ul{
      margin-left:70px;
      display: flex;
      justify-content: space-between;
      li{
        color:white;
        cursor: pointer;
        line-height: 53px;
        margin-right:50px;
        padding:0 30px;
        
      }
      li:nth-child(1){
        border-bottom:2px solid red;
      }
    }
  }
  .my-img0{
    width:35px;
    height:35px;
    border-radius: 50%;
  }
  div.my-left{
    a{
      padding:10px 0;
      display: flex;
      align-items: center;
      text-decoration: none;
      color:white;
      font-size:21px;
      font-family: my-font0;
      img{
        margin-right: 15px;
      }
    }
  }
}