<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>购物车</title>
  <!--CSS-->
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/iconfont.css">
  <link rel="stylesheet" href="./css/iconfont1.css">
  <!--JS-->
  <script src="./js/jquery-3.2.1.js"></script>
  <!--script src="./js/popper.js"></script-->
  <script src="./js/bootstrap.js"></script>
  <script src="./js/vue.js"></script>
  <!--CSS-->
  <link rel="stylesheet" href="./css/cart.css">
</head>
<body>
  <!--购物车界面-->
  <header></header>
  <hr class="mt-0">
  <section>
    <div id="my-container" class="my-container">
      <!--开始-->
      <b class="my-b">购物车</b>
      <hr>
      <ul class="my-choice">
        <li><input @click="allChecked" v-model="checkAll" type="checkbox" class="my-input"><em>全选</em></li>
        <li>商品</li>
        <li>金额</li>
        <li>数量</li>
        <li>小计</li>
        <li>操作</li>
      </ul>
      <div class="my-all">
        <b>全部商品（<span>{{count}}</span>）</b>
        <b>
          <i class="icon iconfont icon-manjian text-danger"></i>
          全场满￥0免运费
        </b>
      </div>
      <ul class="my-list" id="my-list">
        <li v-for="(tmp,index) in list" :key="index">
          <input type="checkbox" @change="handleChange" v-model="tmp.is_checked" class="my-input my-center">
          <img :src="'http://127.0.0.1:3001/'+tmp.md" alt="HTML5">
          <p class="my-detail">
            <a href="#">{{tmp.title}}</a>
            <span class="intro">{{tmp.subtitle}}</span>
          </p>
          <span class='price'>￥{{tmp.price.toFixed(2)}}</span>
          <div class='number'>
            <button @click="sub(index)">
              <i class="icon iconfont icon-jiajian-1"></i>
            </button><input type="text" min="1" v-model="tmp.count" maxlength="3"><button @click="add(index)">
              <i class="icon iconfont icon-jiajian-"></i>
            </button>
          </div>
          <span class="price">￥{{tmp.count*tmp.price}}</span>
          <span class="price delete" title="删除" style="margin:0;width:50px">&times;</span>
        </li>
        <li v-if="!list">
          <div class="cart-kong">
            <h1>购物车空空的！赶紧去<a href="./store.html">逛逛...</a></h1>
          </div>
        </li>
        <li>
          <div>
            <input @click="allChecked" v-model="checkAll" type="checkbox" class="my-input">
            <em class="my-b0">全选</em>
            已选择 {{count}} 件商品
          </div>
          <div>
            <em>已享受免运费</em>
            <em>合计：<i class="add">￥{{total}}</i></em>
            <button class="my-btn">结算</button>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <aside id="mask01">
    <h1>请先用网易云账号登录</h1><span></span>
  </aside>
  <footer></footer>
  <script src="./js/cart.js"></script>
</body>
</html>
<!--首页跳商城新窗口不可后退 商城跳购物车当前窗口可后退-->
<!--强大的弹性布局-->