extends layout
block title
    title 主页
    link(rel="stylesheet" href="#")
    style.
        ul{
            list-style: none;
            width:75%;
            margin: 0 auto;
            padding:0;
            display: flex;
            justify-content: center;
        }
        ul>li>a{
            color: black;
            text-decoration: none;
            padding: 0 5px;
        }
        ul>li>a:hover{
            color: black;
            text-decoration: none;
        }
        .item2{
            flex-grow: 1;
        }
        .item{
            /*flex:1 1 auto;*/
        }
block content
    //占位符，相当于<body></body>中的内容
    div.container-fluid.p-0
        div.d-flex.justify-content-around.align-items-center.bg-light.p-2
            span 首页模板文件
            div.input-group.w-50
                div.input-group-prepend
                    button(type="button").btn.btn-outline-secondary 搜索
                input(type="text",placeholder="关键词").form-control
            div
                a(href="/login").pr-1 登录
                a(href="/register") 注册
        div.p-3
            ul
                li
                    a(href="#").iconfont.icon-qqkongjian
                li
                    a(href="#").iconfont.icon-weibo1
                li
                    a(href="#").iconfont.icon-87
                li
                    a(href="#").iconfont.icon-weixin1
        div.bg-info.d-flex
            div.border.border-secondary.p-3.item
            div.border.border-primary.p-3.item.item2
            div.border.border-success.p-3.item
    script.
      //分享到新浪
      function shareToXl(title, url, picurl) {
        var sharesinastring = 'http://v.t.sina.com.cn/share/share.php?title=' + title + '&url=' + url + '&content=utf-8&sourceUrl=' + url + '&pic=' + picurl;
        window.open(sharesinastring, 'newwindow', 'height=400,width=400,top=100,left=100');
      }
      //分享到qq空间
      function shareToQq(title, url, picurl) {
        var shareqqzonestring = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?summary=' + title + '&url=' + url + '&pics=' + picurl;
        window.open(shareqqzonestring, 'newwindow', 'height=400,width=400,top=100,left=100');
      }
      $("ul").on("click","li>a",function(e){
        e.preventDefault();
        var $a = $(this);
        if ($a.parent("li").index() === 0) {
          shareToQq("分享到空间","www.baidu.com","#");
        }
        if($a.parent("li").index() === 1){
          shareToXl("分享到微博","www.baidu.com","#");
        }
      })
