extends layout
block title
    title 登录
    style.
        .my-class{
            /*display: none;*/
        }
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
block content
    //这下将body中的内容覆盖
    div.container-fluid.p-0
        div.w-75.m-auto
            h2.p-3 登录界面
            div.p-3
                form(action="/checkLogin" method="post" autocomplete="false")
                    div.input-group.w-50
                        div.input-group-prepend
                            button(type="button").btn.btn-outline-primary 用户
                        input(type="text" name="uname").form-control
                    div.input-group.w-50.mt-3
                        div.input-group-prepend
                            button(type="button").btn.btn-outline-primary 密码
                        input(type="password" name="upwd").form-control
                    div.mt-3
                        button(type="submit").btn.btn-primary#login 登录
                        button(type="reset").btn.btn-danger#reset.ml-1 重置
                        a(href="/home").btn.btn-info#back.ml-1 返回
                    div.alert.alert-danger.w-50.mt-3.my-class#error
                        strong 失败！#{title}
    script.
      //碰到的问题：(1)同一个页面请求接口，接口的作用：渲染页面，调用接口获取数据，两者冲突？
      //(2)本地不报错，但在其它运行错误？
      function handleLogin() {
        var uname = $("[name=uname]").val();
        var upwd = $("[name=upwd]").val();
        if(uname && upwd) {
          //console.log(uname, upwd);
        }else{
          var $error =  $("#error").fadeIn();
          setTimeout(function(){
            $error.fadeOut();
          },3000)
        }
      }
