//设置字体溢出显示省略号的方法定义
@mixin my-text() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section {
  div.my-container {
    margin: 1rem auto 0;
    width: 1100px;

    b.my-b:first-child {
      display: inline-block;
      padding-bottom: 0.8rem;
      margin-top: 0.8rem;
    }

    hr {
      background: black;
    }

    ul.my-choice {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-bottom: 3rem;
      padding-right:20px;

      li:first-child {
        padding-left: 1.1rem;
      }
      li:nth-child(2){
        margin-right:240px;
      }
    }

    div.my-all {
      line-height: 36px;
      background: rgb(221, 217, 217);

      b {
        display: inline-block;
        line-height: 39px;
        height: 39px;
        padding-left: 3rem;
      }

      b:nth-child(2) {
        float: right;
        padding-right: 3rem;
      }
    }

    i.icon-manjian {
      font-size: 1.5rem;
      vertical-align: -4.5px;
    }

    ul.my-list {
      margin-bottom:3rem;
      li{
        padding: 1.1rem 1.1rem;
        border-bottom:1px solid gray;
        display: flex;
        img{
          background: rgb(202, 201, 201);
          width:80px;
          height:80px;
        }
        p.my-detail{
          margin-left:1.1rem;
          width:340px;
          a{
            display: block;
            font-size:0.8rem;
            color:black;
            @include my-text;
            font-weight:bold;
          }
          span{
            color:gray;
            font-size:15px;
          }
        }
        .price{
          margin-left:44px;
          line-height: 83px;
          width:175px;
          text-align: center;
        }
        .delete{
          cursor: pointer;
          transition: all .3 linear;
          &:hover{
            color: red;
          }
        }
        .number{
          margin-top:27.5px;
          margin-left:10px;
          button{
            width:28px;
            height: 28px;
          }
          input{
            width:28px;
            height: 28px;
            text-align: center;
            vertical-align: bottom;
          }
        }
      }
      .my-b0{
      }
      li:last-child{
        padding:0 0 0 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        input{
          
        }
        .add{
          font-size: 20px;
          color:red;
        }
        .my-btn{
          padding:13px 60px;
          background: rgb(247, 97, 97);
          color:white;
          border:0;
          margin-left:80px;
        }
      }
      .cart-kong{
        margin:0 auto;
        a{
          text-decoration: none;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  hr {
    margin-top: 0;
  }

  .my-input {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    background: white;
    vertical-align: -4px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.8rem;
  }
  input.my-center{
    vertical-align: middle;
  }
  b{
    font-style:normal;
    display: inline-block;
  }
}
aside{
  width:100%;
  height:100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  background: rgba(0,0,0,.5);
  display: none;
  h1{
    position: absolute;
    left:50%;
    top: 50%;
    margin-left:-200px;
    margin-top:-24px;

  }
}