$my-width0 :1079.19px;

footer {
  div.my-container {
    min-width: 1349px;
    background: #f2f2f2;
    border-top: 1px solid gray;
    padding-bottom:5rem;
    &>div:first-child {
      width: $my-width0;
      margin: 1rem auto 0;
      display: flex;
      justify-content: center;

      div:first-child {
        ul {
          list-style: none;
          padding-left: 0;

          li {
            float: left;

            a {
              display: inline-block;
              text-decoration: none;
              padding: 0 0.8rem;
              color: gray;
              font-size: 0.8rem;
              border-right: 1px solid gray;
            }

            &:nth-child(5)>a {
              border: 0;
            }
          }
        }

        p,
        span {
          font-size: 0.8rem;
          padding-left: 0.8rem;
          margin:0.2rem auto;
        }
      }

      div:nth-child(2) ul {
        
        padding-bottom: 0.1rem;
        list-style: none;
        margin-bottom: 0;

        li {
          text-align: center;
          float: left;
          margin-right: 2.8rem;
          font-size: 0.6rem;

          a {
            color: gray;
            text-decoration: none;

            i {
              font-size: 45px;
            }
          }

          p {
            margin-bottom: 0;
          }
        }
        &::after{
          content:"";
          display:block;
          clear:both;
        }
      }
    }
  }
}