<footer>
  <!--开始-->
  <div class="my-container">
    <div>
    <div>
      <ul class="clearfix">
        <li><a href="/#">关于网络</a></li>
        <li><a href="/#">客户服务</a></li>
        <li><a href="/#">服务条款</a></li>
        <li><a href="/#">网站导航</a></li>
        <li><a href="/#">意见反馈</a></li>
      </ul>

      <p style="line-height: 40px;font-size: 12px;">网易公司版权所有&copy;1997-2018杭州乐读科技有限公
      司运营：浙网文[2018]3506-263号</p>
      <span>违法和不良信息举报电话：0571-89853516
      举报邮箱：cloudmusicservice@163.com</span>
    </div>
    <div>
      <ul>
        <li><a href="/#">
          <i class="icon iconfont icon-biaoqing"></i>
          <p>独立音乐人</p>
          </a></li>
        <li><a href="/#">
          <i class="icon iconfont icon-xianchangzhibo"></i>
          <p>音乐专栏</p>
          </a></li>
        <li><a href="/#">
          <i class="icon iconfont icon-icon_jingzhunyingxia"></i>
          <p>自媒体</p>
          </a></li>
        <li><a href="/#">
          <i class="icon iconfont icon-icon_huiyuanjifen"></i>
          <p>赞赏</p>
          </a></li>
        <li><a href="/#">
          <i class="icon iconfont icon-youxuan"></i>
          <p>视频奖励</p>
          </a></li>
      </ul>
    </div>
    <div>
  </div>
</footer>